@model Blood_Page.Models.Donner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thana_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thana_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Donated_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Donated_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Brith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Brith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
